.sidebar {
    top: 0;
    left: 0;
    width: 15.6%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
    background-color: #000000;
}

.sidebar-tabs {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #c6c6c6;
    text-align: center;
}

.sidebar a {
    color: #c6c6c6;
    text-decoration: none;
    font-size: xx-large;
}

.active-link a {
    font-weight: bold;
}
